@use 'mixins' as *;

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  inset: 0;
  
  @include mobile {
    align-self: flex-end;
    position: relative;
    flex-basis: 100%;
    order: 3;
  }

  &__button {
    border: none;
    background: none;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50%;
      background-color: var(--black);
      width: 0;
      height: 3px;
      transition-duration: inherit;
    }

    &:hover::after {
      width: 100%;
    }

    &--selected {
      color: var(--orange-200);

      &::after {
        width: 100%;
        background-color: var(--orange-200);
      }
    }
  }

}