@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/Roboto-Regular.woff2") format("woff2"),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/Roboto-Medium.woff2") format("woff2"),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/Roboto-Bold.woff2") format("woff2"),
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 1.1;
  color: var(--orange-200);
}

.p-small {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}