@use 'mixins' as *;

.todo {

  &:not(:has(.todo-item__checkbox:not(:checked))) .todo__complete-all::before {
    opacity: 1;
  }

  &__form {
    &:has(.todo__new-input:hover) {
      box-shadow: 0px 5px 10px 2px var(--orange-100);
    }

    &:has(.todo__new-input:focus) {
      box-shadow: 0px 5px 10px 2px var(--orange-100);
      border-color: var(--orange-200);
    }
  }

  &__new-input {
    flex: 1;

    height: 100%;
    padding: 20px 10px;

    background: none;
  }

  &__complete-all {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 45px;
    padding: 5px;

    appearance: none;

    &:hover::before {
      opacity: 1;
    }

    &:focus-visible {
      box-shadow: 0px 0px 2px 2px var(--orange-200);
      border-radius: 10px;
    }

    &::before {
      content: '';

      width: 100%;
      aspect-ratio: 1;

      opacity: 0.5;

      background-image: url(/public/icons/ic-dropdown.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__actions {
    position: relative;

    height: 50px;
    padding-inline: 10px;

    @include mobile {
      align-items: flex-start;
      height: 90px;
      padding: 10px;
    }
  }

  &__actions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 35px;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__count {
    position: relative;
  }

  &__clear-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 10px;
    border-radius: 10px;
    border: none;

    cursor: pointer;
    background-color: var(--green-100);
    color: var(--green-400);

    &:hover {
      background-color: var(--gray-100);
    }

    &:active {
      background-color: var(--gray-200);
    }
  }
}